# vim
.*.swo
.*.swp

# dir
.vscode
.dropbox

# gen
*.o
*.opp
*.a
*.so
*.i
*.class
*.jar
*.pyc
*.out
*.outpp
*.exe
[Bb]in/
[Dd]ebug/
[Rr]elease/
output/

# dat
*.rar
*.lzma
*.zip
*.bz2
*.gz
*.tgz
*.7z
*.mp3
*.flv
*.nupkg