.*.swo
.*.swp
.dropbox
*.o
*.opp
*.a
*.so
*.i
*.class
*.jar
*.pyc
*.out
*.outpp
*.exe
*.rar
*.lzma
*.zip
*.bz2
*.gz
*.tgz
*.7z
*.mp3
*.flv
lib/debug
lib/release
Debug
Release
*.suo
*.user
obj
objd
bin
build
*.exe
packages
*.dll
